html{
    background-color:lightsteelblue;
}

body{
    margin: 5vh auto 5vh auto;
    width:25%;height:75%;
    background-color:#fff;
    border:1em solid lightseagreen;
    position:relative;
}

header{
    widows: 95%;
    height:45vh;
    overflow:hidden;
    position:relative;

    .contImg {
        widows: 100%;
        height:40vh;
        overflow:hidden;
        object-fit: cover;
        background-color: rgb(211,211,211);

        img {
        max-width:100%;
        object-fit: 100%;
        }
    }

    .date{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 15px;
        right: 10px;
        color: rgb(255,255,255);
        background-color: rgb(220,20,60);
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }
}

main {
    position: relative;
    background-color: rgb(255,255,255);
    padding: 3vh;
    -webkit-transition: linear 0.5s;
    transition: linear 0.5s;
    height:110px;

    .photo{
        position: absolute;
        top: -48px;
        left: 5px;
        background-color: rgb(220,20,60);
        color: rgb(255,255,255);
        text-transform: uppercase;
        padding: 10px;
    }

    h2{
        font-weight:300;
        font-size:1.3rem;
        margin-top:-1.8vh;
        margin-bottom:0;
        color:rgb(220,20,60);
    }

    h3 {
        font-weight:400 bold;
        text-transform:lowercase;
        color: rgb(220,220,220);
        margin-top:0;
    }

    article{
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        height:2vh;
        display:none;

        p {
            color: rgb(211,211,211);
            font-size:.7em;
            height:0;
            overflow:hidde;
        }
    }  
}

footer{
    position: absolute;
    bottom:0;

    ul{
        display:flex;
        justify-content: space-between;
        flex-direction:row wrap;
    }

    li{
        list-style:none;
    }
}

/*hover*/
@import "hover.scss";